.no_margin{
    margin: 0 !important;
}

.no_margin_top{
    margin-top: 0 !important;
}

.no_margin_right{
    margin-right: 0 !important;
}

.no_margin_bottom{
    margin-bottom: 0 !important;
}

.no_margin_left{
    margin-left: 0 !important;
}

.margin_all{
    margin: 1em;
}

.margin_top{
    margin-top: 1em;
}

.margin_right{
    margin-right: 1em;
}

.margin_bottom{
    margin-bottom: 1em;
}

.margin_left{
    margin-left: 1em;
}

.large_margin_all{
    margin: 2em;
}

.large_margin_top{
    margin-top: 2em;
}

.large_margin_right{
    margin-right: 2em;
}

.large_margin_bottom{
    margin-bottom: 2em;
}

.large_margin_left{
    margin-left: 2em;
}

.no_padding{
    padding: 0 !important;
}

.no_padding_top{
    padding-top: 0 !important;
}

.no_padding_right{
    padding-right: 0 !important;
}

.no_padding_bottom{
    padding-bottom: 0 !important;
}

.no_padding_left{
    padding-left: 0 !important;
}

@-moz-keyframes spinnerRotate {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spinnerRotate {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spinnerRotate {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.spinning {
  animation: spinnerRotate 2s infinite linear;
	-moz-animation: spinnerRotate 2s infinite linear;
	-webkit-animation: spinnerRotate 2s infinite linear;
}

.loading:before{
    content:"";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(255, 255, 255, 0.8);
}

.loading:after{
  content:"";
  display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -50px 0 0 -50px;
	height: 100px;
	width: 100px;
	text-indent: 250px;
	white-space: nowrap;
	overflow: hidden;
	-webkit-mask-image: image-url("spinner.png");
	background-color: $cyan;
	animation: spinnerRotate 2s infinite linear;
	-moz-animation: spinnerRotate 2s infinite linear;
	-webkit-animation: spinnerRotate 2s infinite linear;
	z-index: 501;
}









.col-xs-1-5 {
  width: 12.5%;
}

.deck_card {
  width: 100px;
  display: inline-block;
  margin: 5px;
}

.deck_card.stacked {
  height: 20px;
}

.deck_card.mini {
  width: 50px;
  margin: 2px;
}

.deck_card.large {
  width: 125px;
  max-width: 100%;
}

.img_zoom {
  display: inline-block;
  overflow: visible;
}

.img_zoom img {
  -webkit-transition: all .05s ease;
  -moz-transition: all .05s ease;
  -ms-transition: all .05s ease;
  -o-transition: all .05s ease;
  transition: all .05s ease;
  vertical-align: middle;
  position: relative;
}

.img_zoom img:hover {
  transform:scale(2.5);
  -ms-transform:scale(2.5);
  -moz-transform:scale(2.5);
  -webkit-transform:scale(2.5);
  -o-transform:scale(2.5);
  z-index: 999;
/*
  position: absolute;
  max-width: none;
  left: -50%;
*/
}

/*
.img_zoom.mini img:hover {
  transform:scale(4);
  -ms-transform:scale(4);
  -moz-transform:scale(4);
  -webkit-transform:scale(4);
  -o-transform:scale(4);
}
*/

.img_zoom.large img:hover {
  transform:scale(1.5);
  -ms-transform:scale(1.5);
  -moz-transform:scale(1.5);
  -webkit-transform:scale(1.5);
  -o-transform:scale(1.5);
}

.row.affix {
  z-index: 99;
  width: 100%;
  top: 0px;
}

.bg-white {
  background-color: #ffffff;
}

.shadow-bottom {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.sticky_control.affix + .row {
  padding-top: 60px;
}
